.modalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 24px;
  padding: 60px 140px 28px;
  border-radius: 16px;
}

.modalBody:focus-visible {
  outline: none;
}
