.quizSection {
  padding: 140px 200px;
}

.questionNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: #7386ff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.level {
  color: #a1aeb7;
  text-transform: uppercase;
  padding-top: 12px;
}

.option {
  padding: 16px;
  color: #313245;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1f1f1;
}

.option:hover,
.selected {
  transition-duration: 0.75s;
  transition-delay: 0.1s;
  background-color: #2fbf0b;
  color: #f1f1f1;
}
