.background {
  background-color: #e6e8f0;
  height: 100vh;
}

.quizSection {
  margin: 120px;
}

.question {
  padding: 60px 40px;
  border-radius: 5px;
  margin-bottom: 16px;
  position: relative;
  color: #313245;
}

.option {
  padding: 16px;
  color: #313245;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a1aeb7b3;
}

.option:hover {
  transition-duration: 0.75s;
  transition-delay: 0.1s;
  background-color: #4cac5eb3;
}

.selected {
  transition-duration: 0.75s;
  transition-delay: 0.1s;
  background-color: #4cac5eb3;
}
